a {
  color: #00c0e2;
}
.color-primary {
  color: #00c0e2 !important;
}
.with-square:before {
  background-color: #00c0e2;
}
.my-btn-primary {
  border: 1px solid #00c0e2;
  background-color: #00c0e2;
}
.my-btn-primary:hover {
  color: #00c0e2;
}
.btn-primary {
  background-color: #00c0e2;
  border-color: #00c0e2;
}
.btn-primary.disabled {
  background-color: #5fd3e8;
}
input[type="text"],
input[type="password"],
textarea {
  background-color: #5fd3e8;
}
.pagination .active a {
  background-color: #00c0e2;
  border-color: #00c0e2;
}
.pagination .active a:hover,
.pagination .active a:focus {
  background-color: #00c0e2;
  border-color: #00c0e2;
}
.breadcrumb > li > a:hover,
.breadcrumb > li > a:focus {
  color: #00c0e2;
}
.breadcrumb > .active {
  color: #00c0e2;
}
.my-blockquote {
  background-color: #e3ebf0;
}
.my-blockquote-quote div {
  background-color: #00c0e2;
}
.media-body-top .media-info .media-date {
  color: #00c0e2;
}
.media-body-top .media-reply .my-btn-default {
  color: #00c0e2;
  border-color: #00c0e2;
}
.media-body-top .media-reply .my-btn-default .my-btn-bg-top,
.media-body-top .media-reply .my-btn-default .my-btn-bg-bottom {
  background-color: #00c0e2;
}
.media-body-top .media-reply .my-btn-default:hover {
  border-color: #00c0e2;
}
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
  border-left-color: #00c0e2;
}
.top-bar {
  background-color: #00c0e2;
}
.main-menu .navbar-nav > li > a:hover,
.main-menu .navbar-nav > li > a:focus {
  color: #00c0e2;
}
.main-menu .navbar-nav > li > a.active {
  color: #00c0e2;
}
.main-menu .navbar-nav > li.active > a {
  color: #00c0e2;
}
.main-menu .dropdown-menu {
  background-color: #00c0e2;
}
.main-menu .dropdown-menu > li > a:hover,
.main-menu .dropdown-menu > li > a:focus {
  color: #00c0e2;
}
.main-menu .dropdown-menu > li > a.active {
  color: #00c0e2;
}
.main-menu .dropdown-menu > li.active > a {
  color: #00c0e2;
}
.main-menu .dropdown-menu:after {
  border-bottom-color: #00c0e2;
}
.main-slider .my-btn-default {
  border-color: #00c0e2;
}
.main-slider .my-btn-default .my-btn-bg-top,
.main-slider .my-btn-default .my-btn-bg-bottom {
  background-color: #00c0e2;
}
.service-mark {
  background-color: #00c0e2;
}
.service-mark .my-btn-default .my-btn-bg-top,
.service-mark .my-btn-default .my-btn-bg-bottom {
  background-color: #00c0e2;
}
.service-mark-border-top {
  background-color: #00c0e2;
}
.service-mark-border-right {
  background-color: #00c0e2;
}
.service-mark-border-bottom {
  background-color: #00c0e2;
}
.service-mark-border-left {
  background-color: #00c0e2;
}
.section-bg-right {
  background-color: #00c0e2;
}
.get-quote {
  background-color: #00c0e2;
}
.home-review-carousel-quote div {
  background-color: #00c0e2;
}
.stat-item-icon {
  background-color: #00c0e2;
}
.stat-item-mark {
  background-color: #00c0e2;
}
.home-blog-item-desc-info .comments-icon {
  color: #00c0e2;
}
.home-blog-item-mark {
  background-color: #00c0e2;
}
.home-blog-item-mark .home-blog-item-date {
  background-color: #00c0e2;
}
.home-blog-item-mark .home-blog-item-desc {
  background-color: #00c0e2;
}
.home-subscribe {
  background-color: #00c0e2;
}
.home-subscribe-form-button .my-btn-primary {
  background-color: #5fd3e8;
}
.bottom .color-primary a {
  color: #00c0e2;
}
.service-menu > li > a:hover,
.service-menu > li > a:focus {
  background-color: #00c0e2;
}
.service-menu > li.active > a {
  background-color: #00c0e2;
}
.service-detail .service-related h3 a:hover,
.service-detail .service-related h3 a:focus {
  color: #00c0e2;
}
.about-text h2:before {
  color: #00c0e2;
}
.team-item-image-overlay {
  background-color: #00c0e2;
}
.team-item:hover .team-item-name {
  color: #00c0e2;
}
.blog-item-info .author-icon {
  color: #00c0e2;
}
.blog-item-info .date-icon {
  color: #00c0e2;
}
.blog-item-title h3:before {
  background-color: #00c0e2;
}
.blog-item-mark .blog-item-date {
  background-color: #00c0e2;
}
.blog-right-bar-item:before {
  background-color: #00c0e2;
}
.blog-right-bar input {
  background-color: #ffffff;
  border: 1px solid #eee;
  width: 100%;
}
.blog-right-bar ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #3e4f59;
}
.blog-right-bar :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #3e4f59;
  opacity: 1;
}
.blog-right-bar ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #3e4f59;
  opacity: 1;
}
.blog-right-bar :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #3e4f59;
}
.recent-post-date .date-icon {
  color: #00c0e2;
}
.blog-categories li a:hover,
.blog-categories li a:focus {
  color: #00c0e2;
}
.blog-categories li.active a {
  color: #00c0e2;
}
.blog-tags a.active {
  background-color: #00c0e2;
}
.blog-tags a:hover,
.blog-tags a:focus {
  background-color: #00c0e2;
}
.single-post-date {
  background-color: #00c0e2;
}
.single-post-info .author-icon {
  color: #00c0e2;
}
.single-post-info .date-icon {
  color: #00c0e2;
}
.single-post-title h3:before {
  background-color: #00c0e2;
}
.single-post-author-info-socials .my-btn-default .my-btn-bg-top,
.single-post-author-info-socials .my-btn-default .my-btn-bg-bottom {
  background-color: #00c0e2;
}
.single-post-author-info-socials .my-btn-default:hover {
  border-color: #00c0e2;
}
.single-post-comments h3:before {
  background-color: #00c0e2;
}
.single-post-leave-comment h3:before {
  background-color: #00c0e2;
}
.contacts-info-title {
  background-color: #00c0e2;
}
.contact-details {
  background-color: #00c0e2;
}
.contact-detail-mark .contact-detail-icon {
  color: #00c0e2;
}
.contact-detail-mark .contact-detail-title h3:before {
  background-color: #00c0e2;
}
.slide-menu .close-menu:hover {
  color: #00c0e2;
}
.slide-menu .left-menu > li > a:hover,
.slide-menu .left-menu > li > a:focus {
  color: #00c0e2;
}
